.App {
  font-family: sans-serif;
  text-align: center;
  color: blue;
}

.warning {
  background-color: yellow;
  text-align: left;
}

.error {
  background-color: red;
  color: yellow;
  text-align: left;
}
